/* BASICS */

.img-logo {
    max-width: 100%;
    height: auto;
}
header {
    background-color: #74002D;
    text-align: center;
    padding: 1%;
}
nav {
    background: url("http://img04.en25.com/EloquaImages/clients/BartleandGibsonCoLtd/{23aeecd3-dabc-4b07-9e77-c835c4182540}_ca-flag.jpg") no-repeat;
    padding: 45px 45px 0 45px;
    background-position: 80% -1px;
    background-color: black;
    height: 150px;
}
ul.topnav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
ul.topnav li {
    float: left;

}
.navbloc {
    background-color: #414042;
    width: 16%;
    margin-bottom: 0;
    float: left;
    height: 150px;
}
ul.topnav li a {
    display: inline-block;
    transition: 0.3s;
    font-size: 17px;
    text-align: center;

}

#did-you-know h1 {
    color: #733f99;
    font-weight: bold;
}

.did-you-know:hover {
    background-color: #733f99;
}
.feat-product:hover {
    background-color: #ffba14;
}
.weekly-deal:hover {
    background-color: #00bdd9;
}
.product-announcement:hover {
    background-color: #e1564a;
}
.news:hover {
    background-color: #168f7b;
}
.events:hover {
    background-color: #1d3975;
}

.ad {
  text-align: center;
  padding: 50px;
}

.div-padding {
  padding: 50px;
}
.centre{
text-align: center;
}
